// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.table td {
  
}

.user {
  width: auto;
  &__avatar {
    // border-radius: 50%;
    // vertical-align: center;
    // overflow: hidden;
    img {
      width: 50px;
    }
  }

  &__avatarthumb {
    max-width: 100px;
    margin-top: 20px;
    background-color: rgba(97, 209, 31, 0.795)
  }
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active{
  background: #A1C838!important;
}

.btn-avitar {
    color: #fff;
    background-color: #A1C838;
  &:hover {
    background-color: #85a62f;
    color: #fff;
  }
}

.image_project {
  max-width: 200px;
}

// loading 
.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #0fae7e, 1.8em -1.8em 0 0em rgba(15,174,126, 0.2), 2.5em 0em 0 0em rgba(15,174,126, 0.2), 1.75em 1.75em 0 0em rgba(15,174,126, 0.2), 0em 2.5em 0 0em rgba(15,174,126, 0.2), -1.8em 1.8em 0 0em rgba(15,174,126, 0.2), -2.6em 0em 0 0em rgba(15,174,126, 0.5), -1.8em -1.8em 0 0em rgba(15,174,126, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(15,174,126, 0.7), 1.8em -1.8em 0 0em #0fae7e, 2.5em 0em 0 0em rgba(15,174,126, 0.2), 1.75em 1.75em 0 0em rgba(15,174,126, 0.2), 0em 2.5em 0 0em rgba(15,174,126, 0.2), -1.8em 1.8em 0 0em rgba(15,174,126, 0.2), -2.6em 0em 0 0em rgba(15,174,126, 0.2), -1.8em -1.8em 0 0em rgba(15,174,126, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(15,174,126, 0.5), 1.8em -1.8em 0 0em rgba(15,174,126, 0.7), 2.5em 0em 0 0em #0fae7e, 1.75em 1.75em 0 0em rgba(15,174,126, 0.2), 0em 2.5em 0 0em rgba(15,174,126, 0.2), -1.8em 1.8em 0 0em rgba(15,174,126, 0.2), -2.6em 0em 0 0em rgba(15,174,126, 0.2), -1.8em -1.8em 0 0em rgba(15,174,126, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(15,174,126, 0.2), 1.8em -1.8em 0 0em rgba(15,174,126, 0.5), 2.5em 0em 0 0em rgba(15,174,126, 0.7), 1.75em 1.75em 0 0em #0fae7e, 0em 2.5em 0 0em rgba(15,174,126, 0.2), -1.8em 1.8em 0 0em rgba(15,174,126, 0.2), -2.6em 0em 0 0em rgba(15,174,126, 0.2), -1.8em -1.8em 0 0em rgba(15,174,126, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(15,174,126, 0.2), 1.8em -1.8em 0 0em rgba(15,174,126, 0.2), 2.5em 0em 0 0em rgba(15,174,126, 0.5), 1.75em 1.75em 0 0em rgba(15,174,126, 0.7), 0em 2.5em 0 0em #0fae7e, -1.8em 1.8em 0 0em rgba(15,174,126, 0.2), -2.6em 0em 0 0em rgba(15,174,126, 0.2), -1.8em -1.8em 0 0em rgba(15,174,126, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(15,174,126, 0.2), 1.8em -1.8em 0 0em rgba(15,174,126, 0.2), 2.5em 0em 0 0em rgba(15,174,126, 0.2), 1.75em 1.75em 0 0em rgba(15,174,126, 0.5), 0em 2.5em 0 0em rgba(15,174,126, 0.7), -1.8em 1.8em 0 0em #0fae7e, -2.6em 0em 0 0em rgba(15,174,126, 0.2), -1.8em -1.8em 0 0em rgba(15,174,126, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(15,174,126, 0.2), 1.8em -1.8em 0 0em rgba(15,174,126, 0.2), 2.5em 0em 0 0em rgba(15,174,126, 0.2), 1.75em 1.75em 0 0em rgba(15,174,126, 0.2), 0em 2.5em 0 0em rgba(15,174,126, 0.5), -1.8em 1.8em 0 0em rgba(15,174,126, 0.7), -2.6em 0em 0 0em #0fae7e, -1.8em -1.8em 0 0em rgba(15,174,126, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(15,174,126, 0.2), 1.8em -1.8em 0 0em rgba(15,174,126, 0.2), 2.5em 0em 0 0em rgba(15,174,126, 0.2), 1.75em 1.75em 0 0em rgba(15,174,126, 0.2), 0em 2.5em 0 0em rgba(15,174,126, 0.2), -1.8em 1.8em 0 0em rgba(15,174,126, 0.5), -2.6em 0em 0 0em rgba(15,174,126, 0.7), -1.8em -1.8em 0 0em #0fae7e;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #0fae7e, 1.8em -1.8em 0 0em rgba(15,174,126, 0.2), 2.5em 0em 0 0em rgba(15,174,126, 0.2), 1.75em 1.75em 0 0em rgba(15,174,126, 0.2), 0em 2.5em 0 0em rgba(15,174,126, 0.2), -1.8em 1.8em 0 0em rgba(15,174,126, 0.2), -2.6em 0em 0 0em rgba(15,174,126, 0.5), -1.8em -1.8em 0 0em rgba(15,174,126, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(15,174,126, 0.7), 1.8em -1.8em 0 0em #0fae7e, 2.5em 0em 0 0em rgba(15,174,126, 0.2), 1.75em 1.75em 0 0em rgba(15,174,126, 0.2), 0em 2.5em 0 0em rgba(15,174,126, 0.2), -1.8em 1.8em 0 0em rgba(15,174,126, 0.2), -2.6em 0em 0 0em rgba(15,174,126, 0.2), -1.8em -1.8em 0 0em rgba(15,174,126, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(15,174,126, 0.5), 1.8em -1.8em 0 0em rgba(15,174,126, 0.7), 2.5em 0em 0 0em #0fae7e, 1.75em 1.75em 0 0em rgba(15,174,126, 0.2), 0em 2.5em 0 0em rgba(15,174,126, 0.2), -1.8em 1.8em 0 0em rgba(15,174,126, 0.2), -2.6em 0em 0 0em rgba(15,174,126, 0.2), -1.8em -1.8em 0 0em rgba(15,174,126, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(15,174,126, 0.2), 1.8em -1.8em 0 0em rgba(15,174,126, 0.5), 2.5em 0em 0 0em rgba(15,174,126, 0.7), 1.75em 1.75em 0 0em #0fae7e, 0em 2.5em 0 0em rgba(15,174,126, 0.2), -1.8em 1.8em 0 0em rgba(15,174,126, 0.2), -2.6em 0em 0 0em rgba(15,174,126, 0.2), -1.8em -1.8em 0 0em rgba(15,174,126, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(15,174,126, 0.2), 1.8em -1.8em 0 0em rgba(15,174,126, 0.2), 2.5em 0em 0 0em rgba(15,174,126, 0.5), 1.75em 1.75em 0 0em rgba(15,174,126, 0.7), 0em 2.5em 0 0em #0fae7e, -1.8em 1.8em 0 0em rgba(15,174,126, 0.2), -2.6em 0em 0 0em rgba(15,174,126, 0.2), -1.8em -1.8em 0 0em rgba(15,174,126, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(15,174,126, 0.2), 1.8em -1.8em 0 0em rgba(15,174,126, 0.2), 2.5em 0em 0 0em rgba(15,174,126, 0.2), 1.75em 1.75em 0 0em rgba(15,174,126, 0.5), 0em 2.5em 0 0em rgba(15,174,126, 0.7), -1.8em 1.8em 0 0em #0fae7e, -2.6em 0em 0 0em rgba(15,174,126, 0.2), -1.8em -1.8em 0 0em rgba(15,174,126, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(15,174,126, 0.2), 1.8em -1.8em 0 0em rgba(15,174,126, 0.2), 2.5em 0em 0 0em rgba(15,174,126, 0.2), 1.75em 1.75em 0 0em rgba(15,174,126, 0.2), 0em 2.5em 0 0em rgba(15,174,126, 0.5), -1.8em 1.8em 0 0em rgba(15,174,126, 0.7), -2.6em 0em 0 0em #0fae7e, -1.8em -1.8em 0 0em rgba(15,174,126, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(15,174,126, 0.2), 1.8em -1.8em 0 0em rgba(15,174,126, 0.2), 2.5em 0em 0 0em rgba(15,174,126, 0.2), 1.75em 1.75em 0 0em rgba(15,174,126, 0.2), 0em 2.5em 0 0em rgba(15,174,126, 0.2), -1.8em 1.8em 0 0em rgba(15,174,126, 0.5), -2.6em 0em 0 0em rgba(15,174,126, 0.7), -1.8em -1.8em 0 0em #0fae7e;
  }
}


.center-btn {
  text-align: center;
}