// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.table td {
  
}

.user {
  width: auto;
  &__avatar {
    // border-radius: 50%;
    // vertical-align: center;
    // overflow: hidden;
    img {
      width: 50px;
    }
  }

  &__avatarthumb {
    max-width: 100px;
    margin-top: 20px;
    background-color: rgba(97, 209, 31, 0.795)
  }
}